<?xml version="1.0" encoding="ISO-8859-1"?>
<arcane-config code-name="ArcaneMeshUtils">
 <time-loops>
  <time-loop name="ArcaneMeshUtilsLoop">
	 <title>MicroHydro</title>
  <description>Boucle en temps de SimpleHydro</description>

			<modules>
				<module name="SimpleHydro" need="required" />
			</modules>

			<entry-points where="init">
				<entry-point name="SimpleHydro.SH_HydroStartInit" />
			</entry-points>

			<entry-points where="compute-loop">
				<entry-point name="SimpleHydro.SH_ComputePressureForce" />
				<entry-point name="SimpleHydro.SH_ComputePseudoViscosity" />
				<entry-point name="SimpleHydro.SH_AddPseudoViscosityContribution" />
				<entry-point name="SimpleHydro.SH_ComputeVelocity" />
				<entry-point name="SimpleHydro.SH_ComputeViscosityWork" />
				<entry-point name="SimpleHydro.SH_ApplyBoundaryCondition" />
				<entry-point name="SimpleHydro.SH_MoveNodes" />
				<entry-point name="SimpleHydro.SH_ComputeGeometricValues" />
				<entry-point name="SimpleHydro.SH_UpdateDensity" />
				<entry-point name="SimpleHydro.SH_ApplyEquationOfState" />
				<entry-point name="SimpleHydro.SH_ComputeDeltaT" />
			</entry-points>
		</time-loop>
 </time-loops>
</arcane-config>
