<?xml version="1.0" encoding="ISO-8859-1"?>
<arcane-config code-name="Laplacian">
	<time-loops>
		<time-loop name="TestLoop">
			<title>Alien tests</title>
			<description>Boucle en temps de l'exemple Alien Test</description>

			<modules>
				<module name="AlienTest" need="required" />
				<module name="ArcanePostProcessing" need="required" />
			</modules>

			<entry-points where="init">
				<entry-point name="AlienTest.Init" />
			</entry-points>

			<entry-points where="compute-loop">
        <entry-point name="AlienTest.Test" />
			</entry-points>
		</time-loop>
	</time-loops>
</arcane-config>
