[submodule "build-system-cmake"]
	path = build-system-cmake
	url = https://gitlab.ifpen.fr/Arcane/ifpen-tools/build-system.git
[submodule "app-cmake-buildsystem"]
	path = app-cmake-buildsystem
	url = https://github.com/arcaneframework/app_buildsystem_tools.git
