# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#latex
*.out
*.aux
*.log
*.toc
/docs/X6-ApiMatrice/Specifications/rapport.pdf

#emacs temporary files
*~

/arcane/src/arcane/axl/Arcane.Axl.v12.suo
/arcane/tools/Arcane.Configure/Arcane.Configure.v12.suo
/arcane/tools/ConfigGenerator/ConfigGenerator.v12.suo
/arcane/tools/ConfigGenerator/ConfigGenerator.csproj.user
/arcane/tools/AllTools.v12.suo

#eclipse
.cproject
.project
.externalToolBuilders
.settings

# Visual studio
*.suo
*.vshost.exe
*.vshost.exe.manifest
*.vshost.exe.config
/arcane/tools/ConfigGenerator/ConfigGenerator.csproj.user
/arcane/tools/ConfigGeneratorV2/ConfigGeneratorV2.csproj.user

# build directories
release*
debug*
Release*
Debug*

.vscode
.vs
/build