# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#latex
*.out
*.aux
*.log
*.toc

#emacs temporary files
*~

#eclipse
.cproject
.project
.externalToolBuilders
.settings

# Visual studio
*.suo
*.vshost.exe
*.vshost.exe.manifest
*.vshost.exe.config

# Vscode

.vscode
.vs

# Clion
/.idea

# build directories
/release*
/debug*
/Release*
/Debug*
/cmake-build-*
/build*
