<?xml version="1.0" encoding="ISO-8859-1"?>
<arcane-config code-name="AlienBench">
  <time-loops>
    <time-loop name="BenchLoop">
      <title>Alien tests</title>
      <description>Boucle en temps de l'exemple Alien Test</description>

      <modules>
        <module name="AlienBench" need="required" />
        <module name="ArcanePostProcessing" need="required" />
        <module name="ArcaneCheckpoint" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="AlienBench.Init" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="AlienBench.Test" />
      </entry-points>
    </time-loop>
        <time-loop name="StokesLoop">
      <title>Alien Stokestests</title>
      <description>Boucle en temps de l'exemple Alien Test</description>

      <modules>
        <module name="AlienStokes" need="required" />
        <module name="ArcanePostProcessing" need="required" />
        <module name="ArcaneCheckpoint" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="AlienStokes.Init" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="AlienStokes.Test" />
      </entry-points>
    </time-loop>
    
  </time-loops>
</arcane-config>
