<?xml version="1.0"?>
<arcane-config code-name="MicroHydro">

 <time-loops>

  <time-loop name="MicroHydroLoop">
    <title>MicroHydro</title>
    <description>
      Boucle en temps de MicroHydro
    </description>

    <modules>
      <module name="MicroHydro" need="required" />
      <module name="AdditionalVariables" need="optional" />
      <module name="ArcaneLoadBalance" need="optional" />
    </modules>

    <entry-points where="build">
      <entry-point name="MicroHydro.SH_HydroBuild" />
    </entry-points>

    <entry-points where="init">
      <entry-point name="MicroHydro.SH_HydroStartInit" />
      <entry-point name="MicroHydro.SH_HydroInit" />
      <entry-point name="AdditionalVariables.AV_Init" />
    </entry-points>

    <entry-points where="compute-loop">
      <entry-point name="MicroHydro.SH_DoOneIteration" />
      <entry-point name="AdditionalVariables.AV_DoOneIteration" />
    </entry-points>

    <entry-points where="exit">
      <entry-point name="MicroHydro.SH_HydroExit" />
      <entry-point name="AdditionalVariables.AV_Exit" />
    </entry-points>

    <entry-points where="on-mesh-changed">
      <entry-point name="MicroHydro.SH_HydroOnMeshChanged" />
    </entry-points>
  </time-loop>
 </time-loops>
</arcane-config>
