<?xml version="1.0"?>
<arcane-config code-name="MicroHydro">
	<time-loops>
		<time-loop name="MicroHydroLoop">
			<title>MicroHydro</title>
			<description>Time loop for the Arcane MicroHydro example</description>

			<modules>
				<module name="MicroHydro" need="required" />
				<module name="ArcanePostProcessing" need="required" />
			</modules>

			<entry-points where="init">
				<entry-point name="MicroHydro.HydroStartInit" />
			</entry-points>

			<entry-points where="compute-loop">
				<!-- to be completed -->
			</entry-points>
		</time-loop>
	</time-loops>
</arcane-config>
