<?xml version="1.0"?>
<arcane-config code-name="ArcaneDriver">
<time-loops>

  <time-loop name="EmptyLoop">
    <title>Boucle vide</title>
    <description>
      Boucle vide
    </description>

    <modules>
    </modules>
  </time-loop>

  <time-loop name="ArcaneDirectExecutionLoop">
    <title>Boucle vide avec execution directe</title>
    <description>
      Boucle vide avec execution directe.
    </description>

    <modules>
    </modules>

    <singleton-services>
      <service name="ArcaneDirectExecution" need="required" />
    </singleton-services>
  </time-loop>

</time-loops>
</arcane-config>
