<?xml version="1.0"?>
<arcane-config code-name="ArcaneDriver">
<time-loops>

  <time-loop name="EmptyLoop">
    <title>Empty loop</title>
    <description>
      Empty loop
    </description>

    <modules>
    </modules>
  </time-loop>

  <time-loop name="ArcaneDirectExecutionLoop">
    <title>Empty loop with direct execution</title>
    <description>
      Empty loop with direct execution.
    </description>

    <modules>
    </modules>

    <singleton-services>
      <service name="ArcaneDirectExecution" need="required" />
    </singleton-services>
  </time-loop>

</time-loops>
</arcane-config>
