<?xml version="1.0" encoding="ISO-8859-1"?>
<arcane-config code-name="Laplacian">
	<time-loops>
		<time-loop name="LaplacianLoop">
			<title>Laplacian</title>
			<description>Boucle en temps de l'exemple Arcane Laplacian</description>

			<modules>
				<module name="Laplacian" need="required" />
				<module name="ArcanePostProcessing" need="required" />
				<module name="ArcaneCheckpoint" need="required" />
			</modules>

			<entry-points where="init">
				<entry-point name="Laplacian.HydroStartInit" />
				<entry-point name="Laplacian.HydroContinueInit" />
			</entry-points>

			<entry-points where="compute-loop">
				<entry-point name="Laplacian.ComputePressureForce" />
				<entry-point name="Laplacian.ComputeVelocity" />
				<entry-point name="Laplacian.ApplyBoundaryCondition" />
				<entry-point name="Laplacian.MoveNodes" />
				<entry-point name="Laplacian.ComputeGeometricValues" />
				<entry-point name="Laplacian.UpdateDensity" />
				<entry-point name="Laplacian.ApplyEquationOfState" />
				<entry-point name="Laplacian.ComputeDeltaT" />
			</entry-points>
		</time-loop>
	</time-loops>
</arcane-config>
