#emacs temporary files
*~

#eclipse
.cproject
.project
.externalToolBuilders
.settings

#clion
.idea

# Visual studio
*.suo
*.vshost.exe
*.vshost.exe.manifest
*.vshost.exe.config

# build directories
release*
debug*
Release*
Debug*
cmake-build-*
