<?xml version="1.0" encoding="ISO-8859-1"?>
<arcane-config code-name="NumericalModelTest">
  <time-loops>
    <time-loop name="TimeLoop">
      <title>Geom</title>
      <description>Boucle en temps d'expérimentation</description>

      <modules>
        <module name="ToyReactiveTransportCouplageDtLocal" need="required" />
        <module name="ArcanePostProcessing" need="required" />
        <module name="Shpco2Arcane" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Shpco2Arcane.Init" />
        <entry-point name="Shpco2Arcane.ContinueInit" />
        <entry-point name="ToyReactiveTransportCouplageDtLocal.Init" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="ToyReactiveTransportCouplageDtLocal.Compute" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
