<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- -*- SGML -*- -->
<arcane-config code-name="HelloWorld">
	<time-loops>
		<time-loop name="HelloWorldLoop">
			<title>HelloWorld</title>
			<description>Boucle en temps de l'exemple Arcane Hello World</description>

			<modules>
				<!-- Compléter en ajoutant les modules de l'exemple -->
			</modules>

			<entry-points where="compute-loop">
				<!-- Compléter en ajoutant les points d'entrée des modules de l'exemple -->
			</entry-points>
		</time-loop>
	</time-loops>
</arcane-config>
