<?xml version="1.0" ?>
<arcane-config code-name="HelloWorld">
	<time-loops>
		<time-loop name="HelloWorldLoop">
			<title>HelloWorld</title>
			<description>Time loop for the Arcane Hello World example</description>

			<modules>
				<!-- Complete by adding the example modules -->
			</modules>

			<entry-points where="compute-loop">
				<!-- Complete by adding the example module entry points -->
			</entry-points>
		</time-loop>
	</time-loops>
</arcane-config>
