<#@ template language="C#" linePragmas="false" #>
/*
 * Generation of declarations for GeomShapeView.
 * This file must be included directly in the definition of the GeomShapeView class.
 */

/*!
 * \name Filling of control sub-volumes for a specific type.
 *
 * The geometric type (geomType()) of the instance must match the chosen method.
 */
//@{
<# foreach( Item item in Connectivity.Items2DAnd3D ) { #>
/*!
 * \brief Fills \a svc with the information of the \a i-th control sub-volume.
 * \pre type()==GeomType::<#=item.Name#>
 */
void fillSubZone<#=item.Name#>(<#=item.SVCBasicName#>ElementView svc,Integer i);
<# } #>   
//@}

/*!
 * \name Filling of control sub-volumes (obsolete methods).
 *
 * These methods are obsolete and must be replaced by the equivalent method
 * with the full element name.
 */
//@{
<# foreach( Item item in Connectivity.Items2DAnd3D ) { #>
<# if (item.BasicName != item.Name ) { #>
/*!
 * \brief Fills \a svc with the information of the \a i-th control sub-volume.
 *
 * \deprecated Use fillSubZone<#=item.Name#>() instead.
 */
void fillSubZone<#=item.BasicName#>(<#=item.SVCBasicName#>ElementView svc,Integer i)
{
  fillSubZone<#=item.Name#>(svc,i);
}
<# } #>
<# } #>   
//@}

<# foreach( Item item in Connectivity.Items2DAnd3D ) { #>
/*!
 * \brief Returns a specific view to a geometric element of type GeomType::<#=item.Name#>.
 * \pre type()==GeomType::<#=item.Name#>
 */
inline <#=item.Name#>ElementConstView to<#=item.Name#>Element() const;
<# } #>   

<# foreach( Item item in Connectivity.Items2DAnd3D ) { #>
/*!
 * \brief Returns a specific view for a geometric shape of type GeomType::<#=item.Name#>.
 * \pre type()==GeomType::<#=item.Name#>
 */
inline <#=item.Name#>ShapeView to<#=item.Name#>Shape() const;
<# } #>   
