<#@ template language="C#" linePragmas="false" #>
/*
 * Generation of classes managing geometric elements (GeomElement).
 */
<# foreach( Item item in Connectivity.Items2DAnd3D ) { #>

/*!
 * \ingroup ArcaneGeometric
 * \brief Geometric elements of type GeomType::<#=item.Name#>.
 */
class ARCANE_GEOMETRY_EXPORT <#=item.Name#>Element
: public GeomElementBase< <#=item.NbNode#> >
{
 public:

  using ConstViewType = <#=item.Name#>ElementConstView;
  using ViewType = <#=item.Name#>ElementView;

 public:

  using GeomElementBase< <#=item.NbNode#> >::init;

  <#=item.Name#>Element() = default;
  <#=item.Name#>Element(const VariableNodeReal3& coords,ItemWithNodes item) : GeomElementBase(coords,item){}
  constexpr <#=item.Name#>Element(ConstArrayView<Real3> coords) : GeomElementBase(coords){}
  <#=item.Name#>Element(<#=item.CoordsArgString()#>)
  {
   <# for( int i=0; i<item.NbNode; ++i ) { #>
   m_s[<#=i#>] = a<#=i#>;
   <# } #>
  }

  //! Initializes the instance with the coordinates passed as arguments
  constexpr void init(<#=item.CoordsArgString()#>)
  {
   <# for( int i=0; i<item.NbNode; ++i ) { #>
   m_s[<#=i#>] = a<#=i#>;
   <# } #>
  }
  //! Conversion operator to a constant view
  constexpr operator ConstViewType() const { return ConstViewType(m_s); }
  //! Conversion operator to a mutable view
  constexpr operator ViewType() { return ViewType(m_s); }
  //! Constant view of the element
  constexpr ConstViewType constView() const { return ConstViewType(m_s); }
  //! Mutable view of the element
  constexpr ViewType view() { return ViewType(m_s); }
};

<# // Génère un typedef s'il existe un nom court #>
<# if (item.BasicName != item.Name ) { #>
//! Geometric element of type GeomType::<#=item.Name#>
using <#=item.BasicName#>Element = <#=item.Name#>Element;
<# } #>

<# } #>