<#@ template language="C#" linePragmas="false" #>
/*
 * Generation of specific view classes for GeomShapeView.
 */
<# foreach( Item item in Connectivity.Items2DAnd3D ) { #>
/*!
 * \ingroup ArcaneGeometric
 * \brief Specific view on geometric shapes of type GeomType::<#=item.Name#>.
 */
class ARCANE_GEOMETRY_EXPORT <#=item.Name#>ShapeView
: public GeomShape<#=item.Dimension#>DView
{
 public: 
  
  typedef <#=item.BasicName#>ElementConstView ElementConstView;
  typedef <#=item.BasicName#>ElementView ElementView;
  typedef <#=item.BasicName#>Element ElementType;
  typedef <#=item.SVCBasicName#>Element SVCElement;
  typedef <#=item.SVCBasicName#>ElementView SVCElementView;

 public:

  <#=item.Name#>ShapeView() {}
  explicit <#=item.Name#>ShapeView(const GeomShapeView& rhs)
  : GeomShape<#=item.Dimension#>DView(rhs)
  {
    ARCANE_GEOMETRIC_CHECKTYPE(rhs.geomType(),GeomType::<#=item.Name#>);
  }

  //! Number of nodes of the shape (returns \a <#=item.NbNode#>)
  static constexpr Integer nbNode() { return <#=item.NbNode#>; }
  //! Type of the shape (returns \a GeomType::<#=item.Type#> )
  static constexpr GeomType geomType() { return GeomType::<#=item.Type#>; }
  //! Fills \a svc with the values of the \a i-th control sub-volume.
  void fillSVC(<#=item.SVCBasicName#>ElementView svc, Integer i)
  {
    fillSubZone<#=item.BasicName#>(svc,i);
  }

  //! Conversion operator to a constant view of the geometric element
  constexpr operator <#=item.Name#>ElementConstView () const
  {
    return ElementConstView(_nodeView());
  }
  //! Constant view of the geometric element
  constexpr <#=item.Name#>ElementConstView elemView() const
  {
    return ElementConstView(_nodeView());
  }
};
<# // Génère un typedef s'il existe un nom court #>
<# if (item.BasicName != item.Name ) { #>
typedef <#=item.Name#>ShapeView <#=item.BasicName#>ShapeView;
<# } #>

<# } #>

/*!
 * \name Conversion to a view on a specific geometric shape.
 *
 * These methods allow converting the instance into a specific view for a given type.
 * The geometric type (geomType()) of the instance must match.
 */
//@{
<# foreach( Item item in Connectivity.Items2DAnd3D ) { #>
inline <#=item.Name#>ShapeView GeomShapeView::
to<#=item.Name#>Shape() const
{
  return <#=item.Name#>ShapeView(*this);
}
<# } #>
//@}

/*!
 * \name Conversion to a view on a specific geometric element.
 *
 * These methods allow converting the instance into a specific view for a given type.
 * The geometric type (geomType()) of the instance must match.
 */
//@{
<# foreach( Item item in Connectivity.Items2DAnd3D ) { #>
inline <#=item.Name#>ElementConstView GeomShapeView::
to<#=item.Name#>Element() const
{
  ARCANE_GEOMETRIC_CHECKTYPE(geomType(),GeomType::<#=item.Name#>);
  return <#=item.Name#>ElementConstView(_nodeView());
}
<# } #>
//@}