name: '[Rand] Build/Install/Test Arcane Framework (Ubuntu 22.04-24.04 / GCC 12-14 / CLang 16-18 / Full / Debug)'

on:
  schedule:
    - cron: '12 0 * * *'
  workflow_dispatch:

jobs:
  build-install-test:
    strategy:
      fail-fast: false
      matrix:
        image_short: [ 'U22_G12_C16', 'U24_G14_C18' ]
        version_short: [ 'F' ]
        compilo: [ 'CLang', 'GCC' ]
        type_build: [ 'Debug' ]

        include:
          - image_short: 'U22_G12_C16'
            image_long: 'ubuntu-2204:gcc-12_clang-16'
            image_date: '20230906'
            image_args: '-DARCCORE_CXX_STANDARD=23'
            image_cuda: false

          - image_short: 'U24_G14_C18'
            image_long: 'ubuntu-2404:gcc-14_clang-18'
            image_date: '20240530'
            image_args: '-DARCCORE_CXX_STANDARD=23'
            image_cuda: false

          - version_short: 'F'
            version_long: 'full'
            version_args: '-DARCANE_DISABLE_PERFCOUNTER_TESTS=ON
              -DPTScotch_INCLUDE_DIR="/usr/include/scotch"'

          - type_build: 'Debug'
            excluded_tests: '^.*([3-9]proc|[1-9][0-9]+proc|[5-9]thread|[1-9][0-9]+thread).*$'
            excluded_tests_with_labels: 'LARGE_HYBRID'


    name: '[${{matrix.image_short}}_${{matrix.version_short}}]_${{matrix.compilo}}_${{matrix.mpi}}_${{matrix.type_build}}'
    # La partie 'uses' est déterminée à la compilation, donc on ne peut pas mettre de variable ${{}}.
    uses: 'arcaneframework/gh_actions/.github/workflows/reusable_test_framework.yml@v1'
    with:
      image: ghcr.io/arcaneframework/${{matrix.image_long}}_${{matrix.version_long}}_${{matrix.image_date}}
      compilo: ${{ matrix.compilo }}
      mpi: OpenMPI
      with_cuda: ${{ matrix.image_cuda }}
      type_build: ${{ matrix.type_build }}
      cmake_additionnal_args: '${{ matrix.image_args }} ${{ matrix.version_args }}'
      verbose: true
      with_samples: true
      with_rand_script: true
      execute_tests: ${{ !matrix.image_cuda }}
      excluded_tests: ${{ matrix.excluded_tests }}
      excluded_tests_with_labels: ${{ matrix.excluded_tests_with_labels }}
      cache_key_prefix: ${{matrix.image_short}}_${{matrix.version_short}}_${{matrix.compilo}}_${{matrix.mpi}}_${{matrix.type_build}}
