name: '[Rand] Build/Install/Test Arcane Framework (Ubuntu 22.04-24.04 / GCC 12-14 / CLang 16-21 / Full / Debug)'

on:
  schedule:
    - cron: '12 0 * * *'
  workflow_dispatch:

jobs:
  build-install-test:
    strategy:
      fail-fast: false
      matrix:
        image:
          - short: 'U22_G12'
            long: 'ubuntu-2204'
            compilo_name: 'gcc'
            compilo_version: '12'
            date: '20250112'
            args: '-DARCCORE_CXX_STANDARD=23'
            execute_tests: true

          - short: 'U22_C16'
            long: 'ubuntu-2204'
            compilo_name: 'clang'
            compilo_version: '16'
            date: '20250112'
            args: '-DARCCORE_CXX_STANDARD=23'
            execute_tests: true

          - short: 'U24_G14'
            long: 'ubuntu-2404'
            compilo_name: 'gcc'
            compilo_version: '14'
            date: '20250830'
            args: '-DARCCORE_CXX_STANDARD=23'
            execute_tests: true

          - short: 'U24_C21'
            long: 'ubuntu-2404'
            compilo_name: 'clang'
            compilo_version: '21'
            date: '20250830'
            args: '-DARCCORE_CXX_STANDARD=23'
            execute_tests: true

        version:
          - short: 'F'
            long: 'full'
            args: '-DARCANE_DISABLE_PERFCOUNTER_TESTS=ON
              -DPTScotch_INCLUDE_DIR="/usr/include/scotch"'

        config:
          - type: 'Debug'
            excluded_tests: '^.*([5-9]proc|[1-9][0-9]+proc|[5-9]thread|[1-9][0-9]+thread).*$'
            excluded_tests_with_labels: 'LARGE_HYBRID'
            ctest_args: '-j4 --timeout 1200'

    name: '[${{matrix.image.short}}_${{matrix.version.short}}]_OMPI_${{matrix.config.type}}'
    # La partie 'uses' est déterminée à la compilation, donc on ne peut pas mettre de variable ${{}}.
    uses: 'arcaneframework/gh_actions/.github/workflows/reusable_test_framework.yml@v3'
    with:
      image: ghcr.io/arcaneframework/${{matrix.image.long}}:${{matrix.image.compilo_name}}-${{matrix.image.compilo_version}}_${{matrix.version.long}}_${{matrix.image.date}}
      compilo_name: ${{ matrix.image.compilo_name }}
      compilo_version: ${{ matrix.image.compilo_version }}
      mpi: OMPI
      type_build: ${{ matrix.config.type }}
      cmake_additionnal_args: '${{ matrix.image.args }} ${{ matrix.version.args }}'
      verbose: true
      with_samples: true
      with_rand_script: true
      execute_tests: ${{ matrix.image.execute_tests }}
      excluded_tests: ${{ matrix.config.excluded_tests }}
      excluded_tests_with_labels: ${{ matrix.config.excluded_tests_with_labels }}
      ctest_additionnal_args: ${{ matrix.config.ctest_args }}
      use_cache: false
      artifact_key_prefix: ${{matrix.image.short}}_${{matrix.version.short}}_${{matrix.mpi.implementation}}_${{matrix.config.type}}
