name: Header/Encoding/Git checker

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

env:
  # Arcane
  ARCANE_SOURCE_DIR: '/home/runner/work/framework/framework/arcane'

jobs:
  check-headers:
    name: Check
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: ${{ env.ARCANE_SOURCE_DIR }}
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Get hash commits
        shell: bash
        run: |
          cd ${{ env.ARCANE_SOURCE_DIR }}
          
          MY_COMMIT=$(git rev-parse HEAD)
          echo "My commit : $MY_COMMIT"
          echo "MY_COMMIT=${MY_COMMIT}" >> $GITHUB_ENV
          
          PARENT_BRANCH="$(git rev-parse origin/main)"
          echo "Parent branch : $PARENT_BRANCH"
          echo "PARENT_BRANCH=${PARENT_BRANCH}" >> $GITHUB_ENV
          
          if [[ $MY_COMMIT == $PARENT_BRANCH ]]; then
            echo "Already on the parent branch, exit"
            exit 0
          fi
          
          COMMON_COMMIT=$(git merge-base $PARENT_BRANCH $MY_COMMIT)
          
          if [[ $MY_COMMIT == $COMMON_COMMIT ]]; then
            echo "Already merged branch"
          
            FIRST_MERGE_AFTER_MY_BRANCH=$(git rev-list --merges "$MY_COMMIT..$PARENT_BRANCH" | tail -1)
            echo "First merge after my branch : $FIRST_MERGE_AFTER_MY_BRANCH"
          
            COMMON_COMMIT=$(git rev-parse "$FIRST_MERGE_AFTER_MY_BRANCH^")
          else
            echo "Not merged branch"
          fi
          
          echo "Common commit : $COMMON_COMMIT"
          echo "COMMON_COMMIT=${COMMON_COMMIT}" >> $GITHUB_ENV

      - name: Merge detection
        id: merge-detection
        if: "${{ env.MY_COMMIT != env.PARENT_BRANCH }}"
        shell: bash
        run: |
          cd ${{ env.ARCANE_SOURCE_DIR }}
          
          git log --merges --oneline --ancestry-path "${{env.COMMON_COMMIT}}..${{env.MY_COMMIT}}" > merge.log
          if [ -s merge.log ]; then
            echo "::error::Merge main into your branch detected. Use rebase instead (see commands to fix it in this section)."
            echo "::group::Commit :"
            cat merge.log
            echo "::endgroup::"
          
            HASH_MERGE=$(git log --merges --oneline --ancestry-path --pretty=format:"%h" "${{env.COMMON_COMMIT}}..${{env.MY_COMMIT}}")
            echo "::group::Commands to fix it (local) :"

            echo "# Fetch latest version of main."
            echo "git fetch origin main:main"
            echo ""
            echo "# Goto commit before merge."
            echo "git checkout ${HASH_MERGE}~"
            echo ""
            echo "# Pull branch."
            echo "git pull"
            echo ""
            echo "# Create tmp branch at commit."
            echo "git switch -c tmp-remove-merge"
            echo ""
            echo "# Rebase tmp branch to main."
            echo "git rebase main"
            echo ""
            echo "# Put commits after merge in HEAD of tmp branch."
            echo "git cherry-pick \"${HASH_MERGE}..${{env.MY_COMMIT}}\""
            echo ""
            echo "# Checkout original branch."
            echo "git checkout $(git rev-parse --abbrev-ref HEAD)"
            echo ""
            echo "# Reset original branch to HEAD of tmp branch."
            echo "git reset --hard tmp-remove-merge"
            echo ""
            echo "# Delete tmp branch."
            echo "git branch -d tmp-remove-merge"
            echo ""
            echo "# Check new branch before git push -f !"
          
            echo "::endgroup::"
            exit 1
          fi

      - name: Check files
        id: check-files
        if: "${{ always() && env.MY_COMMIT != env.PARENT_BRANCH }}"
        shell: bash
        run: |
          cd ${{ env.ARCANE_SOURCE_DIR }}
          
          export CC_H_FILES=$(git diff --name-only --no-renames --diff-filter=a "${{env.MY_COMMIT}}..${{env.COMMON_COMMIT}}" -- '*.cc' '*.h')
          echo "::group::Files to check :"
          echo "$CC_H_FILES"
          echo "::endgroup::"
          
          echo "::notice::In case of error, see the section 'Error details of Check files step' or the artifact 'Header Check Logs'."
          
          chmod u+x ${{ env.ARCANE_SOURCE_DIR }}/.github/scripts/header_check.sh
          ${{ env.ARCANE_SOURCE_DIR }}/.github/scripts/header_check.sh > ${{ env.ARCANE_SOURCE_DIR }}/output.log

      - name: Error details of Check files step
        if: ${{ failure() && steps.check-files.conclusion == 'failure' }}
        shell: bash
        run: |
          cat ${{ env.ARCANE_SOURCE_DIR }}/output.log

      - name: Upload the logs artifact
        uses: actions/upload-artifact@v6
        if: ${{ failure() && steps.check-files.conclusion == 'failure' }}
        with:
          name: Header Check Logs
          path: ${{ env.ARCANE_SOURCE_DIR }}/output.log
          retention-days: 7
