name: Header/Encoding checker (all src)

on:
  # A executer que lorsque l'on demande.
  workflow_dispatch:

env:
  # Arcane
  ARCANE_SOURCE_DIR: '/home/runner/work/framework/framework/arcane'

jobs:
  check-headers:
    name: Check
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: ${{ env.ARCANE_SOURCE_DIR }}
          
      - name: Check files
        shell: bash
        run: |
          cd ${{ env.ARCANE_SOURCE_DIR }}
          export CC_H_FILES=$(find . -name '*.cc' -or -name '*.h')
          chmod u+x ${{ env.ARCANE_SOURCE_DIR }}/.github/scripts/header_check.sh
          ${{ env.ARCANE_SOURCE_DIR }}/.github/scripts/header_check.sh > ${{ env.ARCANE_SOURCE_DIR }}/output.log

      - name: Upload log artifact
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: Header Check Log
          path: ${{ env.ARCANE_SOURCE_DIR }}/output.log
          retention-days: 7
